<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036526004206-i8v0se89qp827loqu9679n3sm5u512if.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036526004206-i8v0se89qp827loqu9679n3sm5u512if</string>
	<key>API_KEY</key>
	<string>AIzaSyBIyIlsokTYbYlv3Ati_uK4FJcrYhghhVw</string>
	<key>GCM_SENDER_ID</key>
	<string>1036526004206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rockyBirdwick</string>
	<key>PROJECT_ID</key>
	<string>rocky-birdwick-database</string>
	<key>STORAGE_BUCKET</key>
	<string>rocky-birdwick-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036526004206:ios:2f5ac8e77c9ed5e4da50ff</string>
</dict>
</plist>